{% extends 'blog/base.html' %}

{% block content %}

<h1>Функционал сайта:</h1><br>

<ol>
    <li>Регистрация и авторизация.  <br> Автор - это зарегистрированный пользователь с возможностью добавления и публикации рецептов на сайте</li>
    <br>
    <li>Просмотр всех опубликованных рецептов по различным категориям всех авторов. Возможно для всех пользователей</li>
    <br>
    <li>Просмотр автором всех своих рецептов (опубликованных/неопубликованных) </li>
    <br>
    <li>Возможность публикации и снятия с публикации автором всех своих рецептов </li>
    <br>
    <li>Добавление рецепта. Возможно только для автора данного рецепта</li>
    <br>
    <li>Изменение рецепта. Возможно только для автора данного рецепта</li>
    <br>
    <li>Удаление рецепта. Возможно только для авторов данного рецепта</li>
    <br>
    <li>Создание комментариев к рецепту. Возможно для всех пользователей</li>
    <br>
    <li>Просмотр комментариев к рецепту. Возможно для всех пользователей</li>
    <br>
    <li>Расчет количества просмотров и средней оценки рецепта</li>
    <br>
    <li>Организация обратной связи</li>
    <br>

    <br><br><br>
    <hr>
    <p>Сайт разработан на Django python v.5.1.1, HTML5/CSS3 Титков Аркадий 2024г. </p>
    <hr>
</ol>
{% endblock %}